body {
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
  .main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #c383e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .main-playing,
  .list-song-container {
    width: 35rem;
    height: 35rem;
    background-color: #a452e7a2;
  }
  
  .main-playing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .cover-container {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .data-song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }
  .cover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 4s;
  }
  
  .list-item {
    background-color: #444343;
    display: flex;
    margin-bottom: 1em;
    color: aliceblue;
  }
  
  .list-item img {
    width: 6rem;
    height: 6rem;
  }
  .progress-bar {
    width: 70%;
  }
  .progress-bar input {
    width: 100%;
    cursor: pointer;
  }
  
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }